# Instructor

In [61]:
import pandas as pd

players = pd.read_csv("all_seasons.csv")
players.head(2)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97

In [62]:
import numpy as np

In [63]:
players = players[['player_name','team_abbreviation','player_height','player_weight','pts','reb','ast','net_rating','college','country','season']]

In [64]:
schools = pd.read_csv("usnews-college-rankings.csv")
schools.head(2)

,institution.displayName,institution.schoolType,institution.aliasNames,institution.state,institution.city,institution.zip,institution.region,institution.isPublic,institution.institutionalControl,institution.primaryPhotoCardThumb,...,searchData.costAfterAid.rawValue,searchData.testAvgs.displayValue.0.value,searchData.testAvgs.displayValue.1.value,School Type,Year Founded,Religious Affiliation,Academic Calendar,Setting,2018 Endowment,School Website
0,Abilene Christian University,national-universities,ACU,TX,Abilene,79699.0,NaN,True,private,NaN,...,NaN,1030-1250,20-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abraham Baldwin Agricultural College,regional-colleges-south,NaN,GA,Tifton,31793.0,south,True,public,NaN,...,NaN,940-1130,16-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
schools2 = schools[['institution.displayName','institution.schoolType','ranking.displayRank']]

In [66]:
schools2

,institution.displayName,institution.schoolType,ranking.displayRank
0,Abilene Christian University,national-universities,#320
1,Abraham Baldwin Agricultural College,regional-colleges-south,#57
2,Academy of Art University,regional-universities-west,#105-115
3,Adams State University,regional-universities-west,#99
4,Adelphi University,national-universities,#163
...,...,...,...
1822,York College--CUNY,regional-universities-north,#130
1823,York College of Pennsylvania,regional-universities-north,#80
1824,York University,regional-colleges-midwest,#45
1825,Young Harris College,national-liberal-arts-colleges,#186-204
1826,Youngstown State University,regional-universities-midwest,#101

In [67]:
school_options = schools['institution.displayName'].unique().tolist()
school_options.append("---NO COLLEGE---")
school_options = tuple(school_options)
school_options[:5]

('Abilene Christian University',
 'Abraham Baldwin Agricultural College',
 'Academy of Art University',
 'Adams State University',
 'Adelphi University')

In [68]:
%pip install --quiet instructor

Note: you may need to restart the kernel to use updated packages.

In [ ]:
from dotenv import load_dotenv
import os
load_dotenv()

In [ ]:
GPT_API_KEY = os.getenv("GPT_api_key")

In [69]:
import instructor
from pydantic import BaseModel, Field
from openai import OpenAI
from typing import List
from typing_extensions import Literal
from pydantic.functional_validators import field_validator
from typing import Optional

class School(BaseModel):
    original_name: str = Field(description="Provided name of college")
    school_name: Optional[Literal[school_options]] = Field(description="Most likely name of school")

client = instructor.from_openai(OpenAI(api_key = GPT_API_KEY))

In [7]:
from tqdm import tqdm

results = []
colleges = players.college.dropna().unique()

for college in tqdm(colleges):
    result = client.chat.completions.create(
        model="gpt-4o",
        response_model=School,
        messages=[{"role": "user", "content": college}],
        max_retries=3
    )
    
    results.append(result.model_dump())

100%|█████████████████████████████████████████| 356/356 [07:43<00:00,  1.30s/it]

In [72]:
matches = pd.json_normalize(results)
matches

NameError: name 'results' is not defined

In [73]:
matches.to_csv('matches.csv')

NameError: name 'matches' is not defined

In [17]:
matches.to_csv(r'C:\Users\Admin\Desktop\file3.csv')

NameError: name 'matches' is not defined

In [74]:
matches[matches['school_name'].isna()]

NameError: name 'matches' is not defined

In [75]:
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", 
    "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", 
    "Illinois", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", 
    "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", 
    "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", 
    "New Jersey", "New Mexico", "New York", "North Carolina", 
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
    "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", 
    "Utah", "Vermont", "Virginia", "Washington", 
    "Wisconsin", "Wyoming"
]

In [76]:
for index, row in matches.iterrows():
    if row['original_name'] in us_states:
        matches.at[index, 'school_name'] = f"University of {row['original_name']}"

NameError: name 'matches' is not defined

In [77]:
matches

NameError: name 'matches' is not defined

In [78]:
matches[matches['school_name'].isna()]

NameError: name 'matches' is not defined

In [79]:
matches.to_csv('matches.csv')

NameError: name 'matches' is not defined

In [80]:
matches.to_csv(r'C:\Users\Admin\Desktop\file3.csv')

NameError: name 'matches' is not defined

From here I just manually fixed the rest of the names

In [210]:
pd.read_csv('matches_clean.csv')

,Unnamed: 0,original_name,school_name
0,0,Louisiana State,Louisiana State University--Baton Rouge
1,1,Northwestern Oklahoma,Northwestern Oklahoma State University
2,2,North Carolina,University of North Carolina at Chapel Hill
3,3,Florida State,Florida State University
4,4,UCLA,"University of California, Los Angeles"
...,...,...,...
350,351,Cal-Davis,"University of California, Davis"
351,352,Stephen F. Austin,Stephen F. Austin State University
352,353,San Francisco,University of San Francisco
353,354,John A. Logan,NaN
354,355,Buffalo,SUNY Buffalo State University

In [211]:
matches_df = pd.read_csv('matches_clean.csv')

In [212]:
matches_df.head()

,Unnamed: 0,original_name,school_name
0,0,Louisiana State,Louisiana State University--Baton Rouge
1,1,Northwestern Oklahoma,Northwestern Oklahoma State University
2,2,North Carolina,University of North Carolina at Chapel Hill
3,3,Florida State,Florida State University
4,4,UCLA,"University of California, Los Angeles"

In [213]:
players = players[['player_name','team_abbreviation','player_height','player_weight','pts','reb','ast','net_rating','college','country','season']]

In [214]:
players

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season
0,Randy Livingston,HOU,193.04,94.800728,3.9,1.5,2.4,0.3,Louisiana State,USA,1996-97
1,Gaylon Nickerson,WAS,190.50,86.182480,3.8,1.3,0.3,8.9,Northwestern Oklahoma,USA,1996-97
2,George Lynch,VAN,203.20,103.418976,8.3,6.4,1.9,-8.2,North Carolina,USA,1996-97
3,George McCloud,LAL,203.20,102.058200,10.2,2.8,1.7,-2.7,Florida State,USA,1996-97
4,George Zidek,DEN,213.36,119.748288,2.8,1.7,0.3,-14.1,UCLA,USA,1996-97
...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23

In [215]:
players['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

In [216]:
#merged_df = players.merge(matches_df, left_on='college', right_on='school_name')

In [217]:
current_df = players.loc[players['season'] == '2022-23']

In [218]:
current_df['college'].value_counts().head(15)

college
Kentucky               27
Duke                   26
Arizona                14
Kansas                 11
UCLA                   11
Southern California    11
North Carolina         11
Texas                  10
Florida State          10
Virginia               10
Michigan                9
Oregon                  9
Washington              8
Villanova               8
Gonzaga                 8
Name: count, dtype: int64

In [219]:
len(current_df['college'].unique())

136

In [220]:
len(current_df['player_name'].unique())

539

In [221]:
college_name_dict = dict(zip(matches_df['original_name'], matches_df['school_name']))

In [222]:
def map_college_name(college):
    if pd.isna(college):
        return 'No College'
    elif college in college_name_dict:
        return college_name_dict[college]
    else:
        return 'Unknown College'

In [223]:
players['standardized_college'] = players['college'].apply(map_college_name)

In [224]:
merged_df2 = pd.merge(players, schools2, 
                     left_on='standardized_college', 
                     right_on='institution.displayName', 
                     how='left')

In [225]:
merged_df2

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,institution.schoolType,ranking.displayRank
0,Randy Livingston,HOU,193.04,94.800728,3.9,1.5,2.4,0.3,Louisiana State,USA,1996-97,Louisiana State University--Baton Rouge,Louisiana State University--Baton Rouge,national-universities,#185
1,Gaylon Nickerson,WAS,190.50,86.182480,3.8,1.3,0.3,8.9,Northwestern Oklahoma,USA,1996-97,Northwestern Oklahoma State University,Northwestern Oklahoma State University,regional-universities-west,#86
2,George Lynch,VAN,203.20,103.418976,8.3,6.4,1.9,-8.2,North Carolina,USA,1996-97,University of North Carolina at Chapel Hill,University of North Carolina at Chapel Hill,national-universities,#22
3,George McCloud,LAL,203.20,102.058200,10.2,2.8,1.7,-2.7,Florida State,USA,1996-97,Florida State University,Florida State University,national-universities,#53
4,George Zidek,DEN,213.36,119.748288,2.8,1.7,0.3,-14.1,UCLA,USA,1996-97,"University of California, Los Angeles","University of California, Los Angeles",national-universities,#15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23,University of Kansas,University of Kansas,national-universities,#151
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23,Florida State University,Florida State University,national-universities,#53
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23,Wake Forest University,Wake Forest University,national-universities,#47
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23,University of Texas at Austin,University of Texas at Austin,national-universities,#32
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23,The University of Alabama,The University of Alabama,national-universities,#170

In [226]:
unmatched = merged_df2[merged_df2['institution.displayName'].isna()]
print(f"Number of players with unmatched colleges: {len(unmatched)}")
print(unmatched['standardized_college'].value_counts())

Number of players with unmatched colleges: 2047
standardized_college
No College         1854
Unknown College     128
Name: count, dtype: int64

In [227]:
merged_df_clean = merged_df2.dropna()

In [228]:
merged_df_clean = merged_df2

In [229]:
merged_df2['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

In [230]:
unmatched = merged_df_clean[merged_df_clean['institution.displayName'].isna()]
print(f"Number of players with unmatched colleges: {len(unmatched)}")
print(unmatched['standardized_college'].value_counts())

Number of players with unmatched colleges: 2047
standardized_college
No College         1854
Unknown College     128
Name: count, dtype: int64

In [233]:
cleaned_df2 = merged_df_clean.loc[merged_df_clean['institution.schoolType'] == 'national-universities']

This is what i added

In [231]:
cleaned_df2 = merged_df_clean

In [234]:
cleaned_df2['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

In [235]:
cleaned_df2.drop(columns=['institution.schoolType'])

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,ranking.displayRank
0,Randy Livingston,HOU,193.04,94.800728,3.9,1.5,2.4,0.3,Louisiana State,USA,1996-97,Louisiana State University--Baton Rouge,Louisiana State University--Baton Rouge,#185
2,George Lynch,VAN,203.20,103.418976,8.3,6.4,1.9,-8.2,North Carolina,USA,1996-97,University of North Carolina at Chapel Hill,University of North Carolina at Chapel Hill,#22
3,George McCloud,LAL,203.20,102.058200,10.2,2.8,1.7,-2.7,Florida State,USA,1996-97,Florida State University,Florida State University,#53
4,George Zidek,DEN,213.36,119.748288,2.8,1.7,0.3,-14.1,UCLA,USA,1996-97,"University of California, Los Angeles","University of California, Los Angeles",#15
5,Gerald Wilkins,ORL,198.12,102.058200,10.6,2.2,2.2,-5.8,Tennessee-Chattanooga,USA,1996-97,University of Tennessee at Chattanooga,University of Tennessee at Chattanooga,#345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23,University of Kansas,University of Kansas,#151
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23,Florida State University,Florida State University,#53
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23,Wake Forest University,Wake Forest University,#47
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23,University of Texas at Austin,University of Texas at Austin,#32
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23,The University of Alabama,The University of Alabama,#170

In [236]:
#checking for ranking ranges

ranking_ranges = cleaned_df2['ranking.displayRank'].str.contains('-').sum()
print(f"Number of ranking ranges: {ranking_ranges}")

Number of ranking ranges: 95

In [237]:
#reformat ranking numbers to make them easier to analyze

def clean_ranking(ranking):
    if '-' in ranking:
        return ranking.split('-')[0].replace('#', '')
    else:
        return ranking.replace('#', '')

In [238]:
df = cleaned_df2.copy()

In [239]:
df['ranking.displayRank'] = df['ranking.displayRank'].apply(clean_ranking)

In [240]:
df

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,institution.schoolType,ranking.displayRank
0,Randy Livingston,HOU,193.04,94.800728,3.9,1.5,2.4,0.3,Louisiana State,USA,1996-97,Louisiana State University--Baton Rouge,Louisiana State University--Baton Rouge,national-universities,185
2,George Lynch,VAN,203.20,103.418976,8.3,6.4,1.9,-8.2,North Carolina,USA,1996-97,University of North Carolina at Chapel Hill,University of North Carolina at Chapel Hill,national-universities,22
3,George McCloud,LAL,203.20,102.058200,10.2,2.8,1.7,-2.7,Florida State,USA,1996-97,Florida State University,Florida State University,national-universities,53
4,George Zidek,DEN,213.36,119.748288,2.8,1.7,0.3,-14.1,UCLA,USA,1996-97,"University of California, Los Angeles","University of California, Los Angeles",national-universities,15
5,Gerald Wilkins,ORL,198.12,102.058200,10.6,2.2,2.2,-5.8,Tennessee-Chattanooga,USA,1996-97,University of Tennessee at Chattanooga,University of Tennessee at Chattanooga,national-universities,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23,University of Kansas,University of Kansas,national-universities,151
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23,Florida State University,Florida State University,national-universities,53
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23,Wake Forest University,Wake Forest University,national-universities,47
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23,University of Texas at Austin,University of Texas at Austin,national-universities,32
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23,The University of Alabama,The University of Alabama,national-universities,170

In [241]:
df.rename(columns = {'ranking.displayRank':'ranking'}, inplace = True)

In [248]:
df['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

*Analysis here*

In [249]:

def clean_and_analyze_rankings(df):
    # 1. Check the data type of the ranking column
    print("Initial data type of ranking column:", df['ranking'].dtype)
    
    # 2. Display unique values to see what we're dealing with
    print("\nUnique values in ranking column:")
    print(df['ranking'].unique())
    
    # 3. Convert rankings to numeric, forcing errors to NaN
    df['ranking_numeric'] = pd.to_numeric(df['ranking'], errors='coerce')
    
    # 4. Check for and display any non-numeric values that were converted to NaN
    non_numeric = df[df['ranking_numeric'].isna() & df['ranking'].notna()]
    print(f"\nNon-numeric values converted to NaN: {len(non_numeric)}")
    if len(non_numeric) > 0:
        print(non_numeric[['ranking', 'ranking_numeric']].head())
    
    # 5. Remove any remaining non-numeric values
    df_clean = df.dropna(subset=['ranking_numeric'])
    
    # 6. Convert to integer type
    df_clean['ranking_int'] = df_clean['ranking_numeric'].astype(int)
    
    # 7. Calculate and display statistics
    print("\nRanking statistics:")
    print(f"Mean ranking: {df_clean['ranking_int'].mean():.2f}")
    print(f"Median ranking: {df_clean['ranking_int'].median()}")
    print(f"Min ranking: {df_clean['ranking_int'].min()}")
    print(f"Max ranking: {df_clean['ranking_int'].max()}")
    
    # 8. Display the distribution of rankings
    print("\nRanking distribution:")
    print(df_clean['ranking_int'].value_counts().sort_index().head())
    
    return df_clean

In [250]:
# Call the function
cleaned_df = clean_and_analyze_rankings(df)

Initial data type of ranking column: object

Unique values in ranking column:
['185' '22' '53' '15' '345' '21' '7' '178' '376' '269' '151' '304' '73'
 '195' '133' '124' '142' '115' '40' '20' '170' '216' '67' '159' '60' '394'
 '227' '86' '43' '47' '352' '390' '24' '93' '33' '46' '6' '395' '39' '105'
 '163' '89' '35' '361' '280' '58' '5' '332' '201' '260' '76' '28' '209'
 '17' '18' '98' '32' '296' '3' '369' '9' '249' '1' '236' '342' '320' '12'
 '303']

Non-numeric values converted to NaN: 0

Ranking statistics:
Mean ranking: 105.56
Median ranking: 86.0
Min ranking: 1
Max ranking: 395

Ranking distribution:
ranking_int
1      4
3    135
5     10
6     10
7    410
Name: count, dtype: int64

In [251]:
def analyze_by_all_seasons_and_teams(df):
    # Group by season and team
    grouped = df.groupby(['season', 'team_abbreviation'])
    
    # Iterate through each group
    for (season, team_abbreviation), group in grouped:
        print(f"\nAnalyzing {team_abbreviation} for season {season}:")
        
        # Perform your analysis here. For example:
        print(f"Number of players: {len(group)}")
        print(f"Average rank: {group['ranking_int'].mean():.2f}")
#        print(f"Mean league ranking: {cleaned_df['ranking_int'].astype(int).mean():.2f}")

#print(f"Median ranking: {df_clean['ranking_int'].median()}")

In [252]:
analyze_by_all_seasons_and_teams(cleaned_df)

Analyzing ATL for season 1996-97:
Number of players: 15
Average rank: 73.20

Analyzing BOS for season 1996-97:
Number of players: 11
Average rank: 122.91

Analyzing CHH for season 1996-97:
Number of players: 12
Average rank: 92.08

Analyzing CHI for season 1996-97:
Number of players: 10
Average rank: 158.30

Analyzing CLE for season 1996-97:
Number of players: 13
Average rank: 174.00

Analyzing DAL for season 1996-97:
Number of players: 14
Average rank: 117.57

Analyzing DEN for season 1996-97:
Number of players: 15
Average rank: 95.93

Analyzing DET for season 1996-97:
Number of players: 12
Average rank: 156.17

Analyzing GSW for season 1996-97:
Number of players: 13
Average rank: 87.15

Analyzing HOU for season 1996-97:
Number of players: 14
Average rank: 142.64

Analyzing IND for season 1996-97:
Number of players: 13
Average rank: 109.31

Analyzing LAC for season 1996-97:
Number of players: 14
Average rank: 98.79

Analyzing LAL for season 1996-97:
Number of players: 12
Average rank: 158.00

Analyzing MIA for season 1996-97:
Number of players: 17
Average rank: 130.59

Analyzing MIL for season 1996-97:
Number of players: 12
Average rank: 131.83

Analyzing MIN for season 1996-97:
Number of players: 9
Average rank: 128.44

Analyzing NJN for season 1996-97:
Number of players: 16
Average rank: 119.12

Analyzing NYK for season 1996-97:
Number of players: 12
Average rank: 113.08

Analyzing ORL for season 1996-97:
Number of players: 13
Average rank: 136.54

Analyzing PHI for season 1996-97:
Number of players: 14
Average rank: 148.43

Analyzing PHX for season 1996-97:
Number of players: 16
Average rank: 137.75

Analyzing POR for season 1996-97:
Number of players: 11
Average rank: 107.45

Analyzing SAC for season 1996-97:
Number of players: 13
Average rank: 105.15

Analyzing SAS for season 1996-97:
Number of players: 15
Average rank: 103.87

Analyzing SEA for season 1996-97:
Number of players: 12
Average rank: 107.33

Analyzing TOR for season 1996-97:
Number of players: 16
Average rank: 144.50

Analyzing UTA for season 1996-97:
Number of players: 12
Average rank: 144.75

Analyzing VAN for season 1996-97:
Number of players: 13
Average rank: 151.38

Analyzing WAS for season 1996-97:
Number of players: 10
Average rank: 99.40

Analyzing ATL for season 1997-98:
Number of players: 16
Average rank: 84.44

Analyzing BOS for season 1997-98:
Number of players: 13
Average rank: 119.08

Analyzing CHH for season 1997-98:
Number of players: 13
Average rank: 144.46

Analyzing CHI for season 1997-98:
Number of players: 11
Average rank: 142.45

Analyzing CLE for season 1997-98:
Number of players: 13
Average rank: 146.69

Analyzing DAL for season 1997-98:
Number of players: 12
Average rank: 124.17

Analyzing DEN for season 1997-98:
Number of players: 11
Average rank: 82.91

Analyzing DET for season 1997-98:
Number of players: 13
Average rank: 135.38

Analyzing GSW for season 1997-98:
Number of players: 14
Average rank: 120.00

Analyzing HOU for season 1997-98:
Number of players: 11
Average rank: 134.91

Analyzing IND for season 1997-98:
Number of players: 11
Average rank: 137.18

Analyzing LAC for season 1997-98:
Number of players: 11
Average rank: 80.91

Analyzing LAL for season 1997-98:
Number of players: 12
Average rank: 139.50

Analyzing MIA for season 1997-98:
Number of players: 14
Average rank: 139.21

Analyzing MIL for season 1997-98:
Number of players: 14
Average rank: 165.57

Analyzing MIN for season 1997-98:
Number of players: 13
Average rank: 127.15

Analyzing NJN for season 1997-98:
Number of players: 16
Average rank: 114.25

Analyzing NYK for season 1997-98:
Number of players: 15
Average rank: 142.67

Analyzing ORL for season 1997-98:
Number of players: 15
Average rank: 137.00

Analyzing PHI for season 1997-98:
Number of players: 15
Average rank: 103.60

Analyzing PHX for season 1997-98:
Number of players: 12
Average rank: 111.08

Analyzing POR for season 1997-98:
Number of players: 15
Average rank: 140.20

Analyzing SAC for season 1997-98:
Number of players: 11
Average rank: 126.73

Analyzing SAS for season 1997-98:
Number of players: 13
Average rank: 97.08

Analyzing SEA for season 1997-98:
Number of players: 14
Average rank: 121.93

Analyzing TOR for season 1997-98:
Number of players: 14
Average rank: 119.07

Analyzing UTA for season 1997-98:
Number of players: 13
Average rank: 155.15

Analyzing VAN for season 1997-98:
Number of players: 11
Average rank: 101.45

Analyzing WAS for season 1997-98:
Number of players: 11
Average rank: 124.45

Analyzing ATL for season 1998-99:
Number of players: 13
Average rank: 107.31

Analyzing BOS for season 1998-99:
Number of players: 14
Average rank: 134.29

Analyzing CHH for season 1998-99:
Number of players: 13
Average rank: 102.23

Analyzing CHI for season 1998-99:
Number of players: 12
Average rank: 165.67

Analyzing CLE for season 1998-99:
Number of players: 13
Average rank: 101.77

Analyzing DAL for season 1998-99:
Number of players: 10
Average rank: 111.20

Analyzing DEN for season 1998-99:
Number of players: 15
Average rank: 154.20

Analyzing DET for season 1998-99:
Number of players: 15
Average rank: 86.40

Analyzing GSW for season 1998-99:
Number of players: 12
Average rank: 116.50

Analyzing HOU for season 1998-99:
Number of players: 15
Average rank: 138.47

Analyzing IND for season 1998-99:
Number of players: 11
Average rank: 113.73

Analyzing LAC for season 1998-99:
Number of players: 12
Average rank: 121.58

Analyzing LAL for season 1998-99:
Number of players: 12
Average rank: 114.33

Analyzing MIA for season 1998-99:
Number of players: 15
Average rank: 167.27

Analyzing MIL for season 1998-99:
Number of players: 13
Average rank: 139.15

Analyzing MIN for season 1998-99:
Number of players: 14
Average rank: 98.07

Analyzing NJN for season 1998-99:
Number of players: 15
Average rank: 124.93

Analyzing NYK for season 1998-99:
Number of players: 13
Average rank: 106.92

Analyzing ORL for season 1998-99:
Number of players: 15
Average rank: 126.47

Analyzing PHI for season 1998-99:
Number of players: 16
Average rank: 135.88

Analyzing PHX for season 1998-99:
Number of players: 14
Average rank: 94.14

Analyzing POR for season 1998-99:
Number of players: 13
Average rank: 155.08

Analyzing SAC for season 1998-99:
Number of players: 11
Average rank: 129.64

Analyzing SAS for season 1998-99:
Number of players: 10
Average rank: 163.60

Analyzing SEA for season 1998-99:
Number of players: 13
Average rank: 96.92

Analyzing TOR for season 1998-99:
Number of players: 12
Average rank: 71.67

Analyzing UTA for season 1998-99:
Number of players: 14
Average rank: 116.43

Analyzing VAN for season 1998-99:
Number of players: 13
Average rank: 105.77

Analyzing WAS for season 1998-99:
Number of players: 11
Average rank: 104.18

Analyzing ATL for season 1999-00:
Number of players: 13
Average rank: 99.77

Analyzing BOS for season 1999-00:
Number of players: 13
Average rank: 159.38

Analyzing CHH for season 1999-00:
Number of players: 15
Average rank: 132.13

Analyzing CHI for season 1999-00:
Number of players: 15
Average rank: 130.80

Analyzing CLE for season 1999-00:
Number of players: 16
Average rank: 100.31

Analyzing DAL for season 1999-00:
Number of players: 11
Average rank: 99.00

Analyzing DEN for season 1999-00:
Number of players: 13
Average rank: 143.62

Analyzing DET for season 1999-00:
Number of players: 13
Average rank: 104.00

Analyzing GSW for season 1999-00:
Number of players: 17
Average rank: 111.71

Analyzing HOU for season 1999-00:
Number of players: 14
Average rank: 112.79

Analyzing IND for season 1999-00:
Number of players: 9
Average rank: 105.89

Analyzing LAC for season 1999-00:
Number of players: 13
Average rank: 154.62

Analyzing LAL for season 1999-00:
Number of players: 12
Average rank: 117.92

Analyzing MIA for season 1999-00:
Number of players: 15
Average rank: 157.53

Analyzing MIL for season 1999-00:
Number of players: 11
Average rank: 113.55

Analyzing MIN for season 1999-00:
Number of players: 10
Average rank: 84.90

Analyzing NJN for season 1999-00:
Number of players: 13
Average rank: 91.31

Analyzing NYK for season 1999-00:
Number of players: 14
Average rank: 118.21

Analyzing ORL for season 1999-00:
Number of players: 13
Average rank: 107.85

Analyzing PHI for season 1999-00:
Number of players: 14
Average rank: 81.79

Analyzing PHX for season 1999-00:
Number of players: 16
Average rank: 125.00

Analyzing POR for season 1999-00:
Number of players: 11
Average rank: 162.27

Analyzing SAC for season 1999-00:
Number of players: 12
Average rank: 94.00

Analyzing SAS for season 1999-00:
Number of players: 11
Average rank: 203.00

Analyzing SEA for season 1999-00:
Number of players: 11
Average rank: 119.18

Analyzing TOR for season 1999-00:
Number of players: 10
Average rank: 70.60

Analyzing UTA for season 1999-00:
Number of players: 12
Average rank: 122.17

Analyzing VAN for season 1999-00:
Number of players: 15
Average rank: 142.73

Analyzing WAS for season 1999-00:
Number of players: 13
Average rank: 96.38

Analyzing ATL for season 2000-01:
Number of players: 13
Average rank: 105.62

Analyzing BOS for season 2000-01:
Number of players: 14
Average rank: 162.93

Analyzing CHH for season 2000-01:
Number of players: 13
Average rank: 116.62

Analyzing CHI for season 2000-01:
Number of players: 13
Average rank: 100.62

Analyzing CLE for season 2000-01:
Number of players: 15
Average rank: 106.00

Analyzing DAL for season 2000-01:
Number of players: 13
Average rank: 74.69

Analyzing DEN for season 2000-01:
Number of players: 11
Average rank: 125.27

Analyzing DET for season 2000-01:
Number of players: 11
Average rank: 108.55

Analyzing GSW for season 2000-01:
Number of players: 18
Average rank: 128.33

Analyzing HOU for season 2000-01:
Number of players: 12
Average rank: 106.33

Analyzing IND for season 2000-01:
Number of players: 9
Average rank: 71.56

Analyzing LAC for season 2000-01:
Number of players: 12
Average rank: 137.83

Analyzing LAL for season 2000-01:
Number of players: 12
Average rank: 174.00

Analyzing MIA for season 2000-01:
Number of players: 16
Average rank: 139.69

Analyzing MIL for season 2000-01:
Number of players: 13
Average rank: 144.77

Analyzing MIN for season 2000-01:
Number of players: 12
Average rank: 104.08

Analyzing NJN for season 2000-01:
Number of players: 12
Average rank: 95.25

Analyzing NYK for season 2000-01:
Number of players: 13
Average rank: 113.31

Analyzing ORL for season 2000-01:
Number of players: 12
Average rank: 75.58

Analyzing PHI for season 2000-01:
Number of players: 16
Average rank: 75.88

Analyzing PHX for season 2000-01:
Number of players: 11
Average rank: 146.00

Analyzing POR for season 2000-01:
Number of players: 13
Average rank: 140.31

Analyzing SAC for season 2000-01:
Number of players: 11
Average rank: 71.09

Analyzing SAS for season 2000-01:
Number of players: 13
Average rank: 161.92

Analyzing SEA for season 2000-01:
Number of players: 10
Average rank: 119.10

Analyzing TOR for season 2000-01:
Number of players: 14
Average rank: 104.71

Analyzing UTA for season 2000-01:
Number of players: 13
Average rank: 125.23

Analyzing VAN for season 2000-01:
Number of players: 14
Average rank: 140.07

Analyzing WAS for season 2000-01:
Number of players: 11
Average rank: 114.09

Analyzing ATL for season 2001-02:
Number of players: 14
Average rank: 130.21

Analyzing BOS for season 2001-02:
Number of players: 12
Average rank: 155.17

Analyzing CHH for season 2001-02:
Number of players: 14
Average rank: 114.86

Analyzing CHI for season 2001-02:
Number of players: 7
Average rank: 80.43

Analyzing CLE for season 2001-02:
Number of players: 12
Average rank: 73.50

Analyzing DAL for season 2001-02:
Number of players: 13
Average rank: 114.92

Analyzing DEN for season 2001-02:
Number of players: 15
Average rank: 125.27

Analyzing DET for season 2001-02:
Number of players: 11
Average rank: 123.27

Analyzing GSW for season 2001-02:
Number of players: 13
Average rank: 108.23

Analyzing HOU for season 2001-02:
Number of players: 10
Average rank: 68.70

Analyzing IND for season 2001-02:
Number of players: 8
Average rank: 159.75

Analyzing LAC for season 2001-02:
Number of players: 14
Average rank: 125.36

Analyzing LAL for season 2001-02:
Number of players: 11
Average rank: 173.82

Analyzing MEM for season 2001-02:
Number of players: 14
Average rank: 130.43

Analyzing MIA for season 2001-02:
Number of players: 15
Average rank: 113.20

Analyzing MIL for season 2001-02:
Number of players: 13
Average rank: 182.00

Analyzing MIN for season 2001-02:
Number of players: 11
Average rank: 103.27

Analyzing NJN for season 2001-02:
Number of players: 12
Average rank: 78.17

Analyzing NYK for season 2001-02:
Number of players: 13
Average rank: 117.85

Analyzing ORL for season 2001-02:
Number of players: 13
Average rank: 68.46

Analyzing PHI for season 2001-02:
Number of players: 19
Average rank: 90.42

Analyzing PHX for season 2001-02:
Number of players: 13
Average rank: 133.15

Analyzing POR for season 2001-02:
Number of players: 14
Average rank: 114.50

Analyzing SAC for season 2001-02:
Number of players: 10
Average rank: 87.30

Analyzing SAS for season 2001-02:
Number of players: 10
Average rank: 93.60

Analyzing SEA for season 2001-02:
Number of players: 11
Average rank: 139.09

Analyzing TOR for season 2001-02:
Number of players: 16
Average rank: 126.81

Analyzing UTA for season 2001-02:
Number of players: 12
Average rank: 103.50

Analyzing WAS for season 2001-02:
Number of players: 12
Average rank: 89.17

Analyzing ATL for season 2002-03:
Number of players: 16
Average rank: 114.50

Analyzing BOS for season 2002-03:
Number of players: 10
Average rank: 178.90

Analyzing CHI for season 2002-03:
Number of players: 10
Average rank: 63.80

Analyzing CLE for season 2002-03:
Number of players: 8
Average rank: 87.88

Analyzing DAL for season 2002-03:
Number of players: 12
Average rank: 120.08

Analyzing DEN for season 2002-03:
Number of players: 12
Average rank: 121.42

Analyzing DET for season 2002-03:
Number of players: 12
Average rank: 109.67

Analyzing GSW for season 2002-03:
Number of players: 13
Average rank: 106.54

Analyzing HOU for season 2002-03:
Number of players: 11
Average rank: 97.73

Analyzing IND for season 2002-03:
Number of players: 9
Average rank: 154.00

Analyzing LAC for season 2002-03:
Number of players: 12
Average rank: 111.42

Analyzing LAL for season 2002-03:
Number of players: 9
Average rank: 132.56

Analyzing MEM for season 2002-03:
Number of players: 13
Average rank: 71.92

Analyzing MIA for season 2002-03:
Number of players: 13
Average rank: 89.85

Analyzing MIL for season 2002-03:
Number of players: 12
Average rank: 136.42

Analyzing MIN for season 2002-03:
Number of players: 10
Average rank: 126.00

Analyzing NJN for season 2002-03:
Number of players: 13
Average rank: 116.54

Analyzing NOH for season 2002-03:
Number of players: 14
Average rank: 123.86

Analyzing NYK for season 2002-03:
Number of players: 13
Average rank: 104.23

Analyzing ORL for season 2002-03:
Number of players: 10
Average rank: 86.20

Analyzing PHI for season 2002-03:
Number of players: 12
Average rank: 83.50

Analyzing PHX for season 2002-03:
Number of players: 12
Average rank: 122.67

Analyzing POR for season 2002-03:
Number of players: 12
Average rank: 126.92

Analyzing SAC for season 2002-03:
Number of players: 11
Average rank: 103.09

Analyzing SAS for season 2002-03:
Number of players: 8
Average rank: 88.12

Analyzing SEA for season 2002-03:
Number of players: 10
Average rank: 124.60

Analyzing TOR for season 2002-03:
Number of players: 18
Average rank: 134.72

Analyzing UTA for season 2002-03:
Number of players: 11
Average rank: 109.91

Analyzing WAS for season 2002-03:
Number of players: 13
Average rank: 71.85

Analyzing ATL for season 2003-04:
Number of players: 13
Average rank: 102.54

Analyzing BOS for season 2003-04:
Number of players: 12
Average rank: 107.50

Analyzing CHI for season 2003-04:
Number of players: 13
Average rank: 143.62

Analyzing CLE for season 2003-04:
Number of players: 10
Average rank: 89.30

Analyzing DAL for season 2003-04:
Number of players: 12
Average rank: 84.25

Analyzing DEN for season 2003-04:
Number of players: 11
Average rank: 115.55

Analyzing DET for season 2003-04:
Number of players: 10
Average rank: 155.50

Analyzing GSW for season 2003-04:
Number of players: 12
Average rank: 102.08

Analyzing HOU for season 2003-04:
Number of players: 12
Average rank: 125.83

Analyzing IND for season 2003-04:
Number of players: 9
Average rank: 112.78

Analyzing LAC for season 2003-04:
Number of players: 13
Average rank: 104.46

Analyzing LAL for season 2003-04:
Number of players: 11
Average rank: 152.64

Analyzing MEM for season 2003-04:
Number of players: 13
Average rank: 104.92

Analyzing MIA for season 2003-04:
Number of players: 16
Average rank: 122.62

Analyzing MIL for season 2003-04:
Number of players: 12
Average rank: 78.92

Analyzing MIN for season 2003-04:
Number of players: 13
Average rank: 158.54

Analyzing NJN for season 2003-04:
Number of players: 14
Average rank: 96.21

Analyzing NOH for season 2003-04:
Number of players: 13
Average rank: 131.62

Analyzing NYK for season 2003-04:
Number of players: 13
Average rank: 101.92

Analyzing ORL for season 2003-04:
Number of players: 12
Average rank: 146.58

Analyzing PHI for season 2003-04:
Number of players: 12
Average rank: 99.08

Analyzing PHX for season 2003-04:
Number of players: 8
Average rank: 95.88

Analyzing POR for season 2003-04:
Number of players: 13
Average rank: 112.00

Analyzing SAC for season 2003-04:
Number of players: 9
Average rank: 93.00

Analyzing SAS for season 2003-04:
Number of players: 11
Average rank: 114.27

Analyzing SEA for season 2003-04:
Number of players: 10
Average rank: 155.10

Analyzing TOR for season 2003-04:
Number of players: 15
Average rank: 78.60

Analyzing UTA for season 2003-04:
Number of players: 13
Average rank: 125.38

Analyzing WAS for season 2003-04:
Number of players: 14
Average rank: 64.14

Analyzing ATL for season 2004-05:
Number of players: 12
Average rank: 56.17

Analyzing BOS for season 2004-05:
Number of players: 9
Average rank: 153.33

Analyzing CHA for season 2004-05:
Number of players: 15
Average rank: 91.60

Analyzing CHI for season 2004-05:
Number of players: 12
Average rank: 100.67

Analyzing CLE for season 2004-05:
Number of players: 10
Average rank: 89.60

Analyzing DAL for season 2004-05:
Number of players: 10
Average rank: 86.60

Analyzing DEN for season 2004-05:
Number of players: 13
Average rank: 118.77

Analyzing DET for season 2004-05:
Number of players: 11
Average rank: 144.27

Analyzing GSW for season 2004-05:
Number of players: 8
Average rank: 113.25

Analyzing HOU for season 2004-05:
Number of players: 14
Average rank: 125.21

Analyzing IND for season 2004-05:
Number of players: 14
Average rank: 147.43

Analyzing LAC for season 2004-05:
Number of players: 14
Average rank: 89.43

Analyzing LAL for season 2004-05:
Number of players: 9
Average rank: 96.67

Analyzing MEM for season 2004-05:
Number of players: 12
Average rank: 121.75

Analyzing MIA for season 2004-05:
Number of players: 11
Average rank: 88.45

Analyzing MIL for season 2004-05:
Number of players: 12
Average rank: 109.92

Analyzing MIN for season 2004-05:
Number of players: 11
Average rank: 157.36

Analyzing NJN for season 2004-05:
Number of players: 14
Average rank: 95.29

Analyzing NOH for season 2004-05:
Number of players: 12
Average rank: 135.00

Analyzing NYK for season 2004-05:
Number of players: 14
Average rank: 94.93

Analyzing ORL for season 2004-05:
Number of players: 11
Average rank: 111.82

Analyzing PHI for season 2004-05:
Number of players: 13
Average rank: 96.23

Analyzing PHX for season 2004-05:
Number of players: 11
Average rank: 127.82

Analyzing POR for season 2004-05:
Number of players: 11
Average rank: 108.64

Analyzing SAC for season 2004-05:
Number of players: 12
Average rank: 110.50

Analyzing SAS for season 2004-05:

In [253]:
def analyze_specific_season(df, season):
    season_df = cleaned_df[cleaned_df['season'] == season]
    analyze_by_season_and_team(season_df)

In [254]:
analyze_specific_season(cleaned_df, '2022-23')

NameError: name 'analyze_by_season_and_team' is not defined

In [255]:

#to analyze rankings by season:
def analyze_rankings_by_season(df):
    season_rankings = df.groupby('season')['ranking_int'].agg(['mean', 'median', 'min', 'max'])
    #print("\nRankings by season:")
    #print(season_rankings)
    return(season_rankings)

This is the data for all NBA Teams so average ranking across the league

In [256]:
league_rank_by_season = analyze_rankings_by_season(cleaned_df)

In [257]:
league_rank_by_season.to_csv(f"league_rank_by_season.csv", index=True)

In [258]:
analyze_rankings_by_season(cleaned_df)

               mean  median  min  max
season
1996-97  123.675462    98.0    3  395
1997-98  124.973475    98.0    3  395
1998-99  121.071240    98.0    3  395
1999-00  119.880000    98.0    3  395
2000-01  117.578378    93.0    1  395
2001-02  114.983425    93.0    1  395
2002-03  111.115044    93.0    3  395
2003-04  112.455587    93.0    3  395
2004-05  109.651558    93.0    3  395
2005-06  110.260234    93.0    3  395
2006-07  103.280802    86.0    3  395
2007-08  100.523810    70.0    3  395
2008-09   97.441718    67.0    3  395
2009-10   97.968750    67.0    3  395
2010-11  101.143284    67.0    3  395
2011-12   99.894886    67.0    3  395
2012-13   92.774286    67.0    3  390
2013-14  100.326870    73.0    3  395
2014-15   98.663934    67.0    3  395
2015-16   95.713881    67.0    3  395
2016-17   96.161111    67.0    3  395
2017-18   97.653012    73.0    3  395
2018-19   95.608696    67.0    3  395
2019-20   99.485507    86.0    3  395
2020-21  101.933174    86.0    1  395
2021-22  103.467078    93.0    1  395
2022-23  101.724537    93.0    3  395

In [259]:
def analyze_specific_team(df, team):
    team_df = df[cleaned_df['team_abbreviation'] == team]
    analyze_by_season_and_team(team_df)

In [260]:
analyze_specific_team(cleaned_df, 'HOU')

NameError: name 'analyze_by_season_and_team' is not defined

In [261]:
def analyze_team_season(df, team, season):
    # Filter the dataframe for the specific team and season
    team_season_df = cleaned_df[(cleaned_df['team_abbreviation'] == team) & (cleaned_df['season'] == season)]
    
    if team_season_df.empty:
        print(f"No data found for {team} in the {season} season.")
        return
    
    # Calculate required statistics
    mean_rank = team_season_df['ranking_int'].mean()
    median_rank = team_season_df['ranking_int'].median()
    num_players = len(team_season_df)
    
    # Find the player with the highest college rank
    best_college_player = team_season_df.loc[team_season_df['ranking_int'].idxmin()]
    
    # Prepare the results
    results = {
        "Team": team,
        "Season": season,
        "Mean Rank": mean_rank,
        "Median Rank": median_rank,
        "Number of Players with Eligible Colleges": num_players,
        "Best College Player": best_college_player['player_name'],
        "Best Player's College": best_college_player['college'],
        "Best Player's Rank": best_college_player['ranking_int']
    }
    
    # Print the results
    print("\nAnalysis Results:")
    for key, value in results.items():
        print(f"{key}: {value}")

In [262]:
analyze_team_season('cleaned_df', 'HOU', '2020-21')

Analysis Results:
Team: HOU
Season: 2020-21
Mean Rank: 106.375
Median Rank: 91.0
Number of Players with Eligible Colleges: 16
Best College Player: D.J. Wilson
Best Player's College: Michigan
Best Player's Rank: 21

In [263]:
def analyze_all_teams_in_season(df, season):
    # Filter the dataframe for the specific season
    season_df = df[df['season'] == season]
    
    if season_df.empty:
        print(f"No data found for the {season} season.")
        return None

    # Get unique teams in this season
    teams = season_df['team_abbreviation'].unique()

    # Initialize a list to store results for each team
    all_team_results = []

    for team in teams:
        team_df = season_df[season_df['team_abbreviation'] == team]
        
        # Calculate required statistics
        mean_rank = team_df['ranking_int'].mean()
        median_rank = team_df['ranking_int'].median()
        num_players = len(team_df)
        
        # Find the player with the highest college rank (lowest number)
        best_college_player = team_df.loc[team_df['ranking_int'].idxmin()]
        
        # Prepare the results
        team_results = {
            "Team": team,
            "Mean Rank": mean_rank,
            "Median Rank": median_rank,
            "Number of Players": num_players,
            "Best College Player": best_college_player['player_name'],
            "Best Players College": best_college_player['college'],
            "Best Players Rank": best_college_player['ranking_int']
        }
        
        all_team_results.append(team_results)

    # Convert results to a DataFrame for easier analysis
    results_df = pd.DataFrame(all_team_results)

    # Sort teams by mean rank
    results_df = results_df.sort_values('Mean Rank')

    # Print summary
    print(f"\nAnalysis Results for {season} Season:")
    print(f"Total teams analyzed: {len(results_df)}")
    print("\nTop 5 teams by mean college rank:")
    print(results_df[['Team', 'Mean Rank', 'Median Rank', 'Number of Players']].head())
    
    print("\nBottom 5 teams by mean college rank:")
    print(results_df[['Team', 'Mean Rank', 'Median Rank', 'Number of Players']].tail())

    # Additional analysis
    print(f"\nTeam with the player from the highest ranked college:")
    best_team = results_df.loc[results_df['Best Players Rank'].idxmin()]
    print(f"Team: {best_team['Team']}")
    print(f"Player: {best_team['Best College Player']}")
    print(f"College: {best_team['Best Players College']}")
    print(f"Rank: {best_team['Best Players Rank']}")

    return results_df

In [321]:

# Example usage:
season_to_analyze = "2022-23"  # Replace with the season you want to analyze
results_df = analyze_all_teams_in_season(cleaned_df, season_to_analyze)
results = analyze_all_teams_in_season(cleaned_df, season_to_analyze)

Analysis Results for 2022-23 Season:
Total teams analyzed: 30

Top 5 teams by mean college rank:
   Team  Mean Rank  Median Rank  Number of Players
14  ORL  50.571429         46.5                 14
10  BOS  68.529412         53.0                 17
5   DEN  69.538462         47.0                 13
2   MIL  73.454545         47.0                 11
4   BKN  78.058824         53.0                 17

Bottom 5 teams by mean college rank:
   Team   Mean Rank  Median Rank  Number of Players
25  CHA  121.714286        151.0                 14
0   NYK  129.428571        133.0                 14
3   TOR  131.176471        105.0                 17
19  SAS  138.157895        124.0                 19
9   GSW  143.000000        146.5                 14

Team with the player from the highest ranked college:
Team: MIL
Player: Brook Lopez
College: Stanford
Rank: 3

Analysis Results for 2022-23 Season:
Total teams analyzed: 30

Top 5 teams by mean college rank:
   Team  Mean Rank  Median Rank  Number of Players
14  ORL  50.571429         46.5                 14
10  BOS  68.529412         53.0                 17
5   DEN  69.538462         47.0                 13
2   MIL  73.454545         47.0                 11
4   BKN  78.058824         53.0                 17

Bottom 5 teams by mean college rank:
   Team   Mean Rank  Median Rank  Number of Players
25  CHA  121.714286        151.0                 14
0   NYK  129.428571        133.0                 14
3   TOR  131.176471        105.0                 17
19  SAS  138.157895        124.0                 19
9   GSW  143.000000        146.5                 14

Team with the player from the highest ranked college:
Team: MIL
Player: Brook Lopez
College: Stanford
Rank: 3

In [322]:
print(results_df.head())

   Team  Mean Rank  Median Rank  Number of Players Best College Player  \
14  ORL  50.571429         46.5                 14      Paolo Banchero
10  BOS  68.529412         53.0                 17        Jayson Tatum
5   DEN  69.538462         47.0                 13          Jack White
2   MIL  73.454545         47.0                 11         Brook Lopez
4   BKN  78.058824         53.0                 17          Seth Curry

   Best Players College  Best Players Rank
14                 Duke                  7
10                 Duke                  7
5                  Duke                  7
2              Stanford                  3
4                  Duke                  7

In [323]:
results.to_csv(f"nba_teams_analysis_{season_to_analyze}.csv", index=True)
print(f"\nFull results saved to nba_teams_analysis_{season_to_analyze}.csv")

Full results saved to nba_teams_analysis_2022-23.csv

In [325]:
results

,Team,Mean Rank,Median Rank,Number of Players,Best College Player,Best Players College,Best Players Rank
14,ORL,50.571429,46.5,14,Paolo Banchero,Duke,7
10,BOS,68.529412,53.0,17,Jayson Tatum,Duke,7
5,DEN,69.538462,47.0,13,Jack White,Duke,7
2,MIL,73.454545,47.0,11,Brook Lopez,Stanford,3
4,BKN,78.058824,53.0,17,Seth Curry,Duke,7
18,UTA,79.571429,89.5,14,Vernon Carey Jr.,Duke,7
13,ATL,86.357143,50.0,14,AJ Griffin,Duke,7
28,MEM,88.714286,80.0,14,Ziaire Williams,Stanford,3
11,DAL,90.266667,98.0,15,Dwight Powell,Stanford,3
16,POR,90.625000,86.0,16,Cam Reddish,Duke,7
17,LAL,92.687500,78.0,16,Scotty Pippen Jr.,Vanderbilt,18
15,PHX,93.363636,60.0,11,Saben Lee,Vanderbilt,18
22,MIN,93.937500,50.0,16,Wendell Moore Jr.,Duke,7
21,CLE,95.250000,46.0,12,Robin Lopez,Stanford,3
23,NOP,96.692308,60.0,13,Zion Williamson,Duke,7
6,CHI,103.692308,53.0,13,Zach LaVine,UCLA,15
1,WAS,105.466667,105.0,15,Anthony Gill,Virginia,24
26,MIA,106.733333,73.0,15,Kevin Love,UCLA,15
27,OKC,113.000000,101.5,12,Tre Mann,Florida,28
24,IND,113.470588,115.0,17,Aaron Nesmith,Vanderbilt,18
8,LAC,114.066667,105.0,15,Mason Plumlee,Duke,7
29,HOU,115.000000,105.0,7,Frank Kaminsky,Wisconsin,35
12,SAC,116.555556,104.0,18,KZ Okpala,Stanford,3
20,DET,118.333333,105.0,15,Marvin Bagley III,Duke,7
7,PHI,119.500000,105.0,14,P.J. Tucker,Texas,32
25,CHA,121.714286,151.0,14,Mark Williams,Duke,7
0,NYK,129.428571,133.0,14,RJ Barrett,Duke,7
3,TOR,131.176471,105.0,17,Gary Trent Jr.,Duke,7
19,SAS,138.157895,124.0,19,Tre Jones,Duke,7
9,GSW,143.000000,146.5,14,Kevon Looney,UCLA,15

analyzing every team to see the smartest nba team ever

In [268]:


all_seasons_teams = []
def analyze_all_seasons_and_teams_df(df):
    # Group by season and team
    grouped = df.groupby(['season', 'team_abbreviation'])
    
    # Iterate through each group
    for (season, team_abbreviation), group in grouped:
        
        # Calculate required statistics
        mean_rank = group['ranking_int'].mean()
        median_rank = group['ranking_int'].median()
        num_players = len(group)
        
        # Find the player with the highest college rank (lowest number)
        best_college_player = group.loc[group['ranking_int'].idxmin()]

        team_results = {
            "Season": season,
            "Team": team_abbreviation,
            "Mean Rank": mean_rank,
            "Median Rank": median_rank,
            "Number of Players": num_players,
            "Best College Player": best_college_player['player_name'],
            "Best Players College": best_college_player['college'],
            "Best Players Rank": best_college_player['ranking_int']
        }

        all_seasons_teams.append(team_results)

    # Convert results to a DataFrame for easier analysis
    all_seasons_teams_df = pd.DataFrame(all_seasons_teams)

    # Sort teams by mean rank
    all_seasons_teams_df = all_seasons_teams_df.sort_values('Median Rank')

    return all_seasons_teams_df

#print(f"Median ranking: {df_clean['ranking_int'].median()}")

In [269]:
analyze_all_seasons_and_teams_df(cleaned_df).tail()

,Season,Team,Mean Rank,Median Rank,Number of Players,Best College Player,Best Players College,Best Players Rank
108,1999-00,POR,162.272727,178.0,11,Gary Grant,Michigan,21
280,2005-06,NOK,161.230769,185.0,13,Chris Paul,Wake Forest,47
373,2008-09,ORL,185.600000,185.0,5,JJ Redick,Duke,7
407,2009-10,SAC,155.200000,185.0,10,Sean May,North Carolina,22
110,1999-00,SAS,203.000000,195.0,11,Jaren Jackson,Georgetown,22

In [270]:
all_seasons_teams = analyze_all_seasons_and_teams_df(cleaned_df)

In [271]:
cleaned_df['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

In [272]:
all_seasons_teams.to_csv("all_seasons_teams", index=True)

In [273]:
cleaned_df

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,institution.schoolType,ranking,ranking_numeric,ranking_int
0,Randy Livingston,HOU,193.04,94.800728,3.9,1.5,2.4,0.3,Louisiana State,USA,1996-97,Louisiana State University--Baton Rouge,Louisiana State University--Baton Rouge,national-universities,185,185,185
2,George Lynch,VAN,203.20,103.418976,8.3,6.4,1.9,-8.2,North Carolina,USA,1996-97,University of North Carolina at Chapel Hill,University of North Carolina at Chapel Hill,national-universities,22,22,22
3,George McCloud,LAL,203.20,102.058200,10.2,2.8,1.7,-2.7,Florida State,USA,1996-97,Florida State University,Florida State University,national-universities,53,53,53
4,George Zidek,DEN,213.36,119.748288,2.8,1.7,0.3,-14.1,UCLA,USA,1996-97,"University of California, Los Angeles","University of California, Los Angeles",national-universities,15,15,15
5,Gerald Wilkins,ORL,198.12,102.058200,10.6,2.2,2.2,-5.8,Tennessee-Chattanooga,USA,1996-97,University of Tennessee at Chattanooga,University of Tennessee at Chattanooga,national-universities,345,345,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23,University of Kansas,University of Kansas,national-universities,151,151,151
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23,Florida State University,Florida State University,national-universities,53,53,53
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23,Wake Forest University,Wake Forest University,national-universities,47,47,47
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23,University of Texas at Austin,University of Texas at Austin,national-universities,32,32,32
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23,The University of Alabama,The University of Alabama,national-universities,170,170,170

In [274]:
cleaned_df['college'].value_counts().head(15)

college
Kentucky           447
Duke               410
North Carolina     355
UCLA               318
Arizona            293
Kansas             289
Connecticut        235
Michigan           197
Florida            193
Georgia Tech       193
Michigan State     185
Syracuse           161
Georgetown         160
Louisiana State    151
Texas              146
Name: count, dtype: int64

In [275]:
current_season = cleaned_df[cleaned_df['season'] == "2022-23"]

In [276]:
current_season

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,institution.schoolType,ranking,ranking_numeric,ranking_int
12305,Quentin Grimes,NYK,195.58,95.254320,11.3,3.2,2.1,4.4,Houston,USA,2022-23,University of Houston,University of Houston,national-universities,133,133,133
12306,Quenton Jackson,WAS,195.58,78.471416,6.2,0.9,1.7,-6.7,Texas A&M,USA,2022-23,Texas A&M University,Texas A&M University,national-universities,47,47,47
12307,Pat Connaughton,MIL,195.58,94.800728,7.6,4.6,1.3,3.4,Notre Dame,USA,2022-23,University of Notre Dame,University of Notre Dame,national-universities,20,20,20
12308,RJ Barrett,NYK,198.12,97.068688,19.6,5.0,2.8,-1.2,Duke,Canada,2022-23,Duke University,Duke University,national-universities,7,7,7
12309,Precious Achiuwa,TOR,203.20,102.058200,9.2,6.0,0.9,-1.6,Memphis,Nigeria,2022-23,University of Memphis,University of Memphis,national-universities,269,269,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23,University of Kansas,University of Kansas,national-universities,151,151,151
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23,Florida State University,Florida State University,national-universities,53,53,53
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23,Wake Forest University,Wake Forest University,national-universities,47,47,47
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23,University of Texas at Austin,University of Texas at Austin,national-universities,32,32,32
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23,The University of Alabama,The University of Alabama,national-universities,170,170,170

In [277]:
current_season['college'].value_counts().head(15)

college
Kentucky           27
Duke               26
Arizona            14
Kansas             11
North Carolina     11
UCLA               11
Texas              10
Virginia           10
Florida State      10
Michigan            9
Oregon              9
Villanova           8
Gonzaga             8
Louisiana State     8
Washington          8
Name: count, dtype: int64

In [278]:
team_ranks = pd.read_csv("team_rankings_22_23.csv")

In [279]:
merged_current = pd.merge(current_season, team_ranks, how='outer', on='team_abbreviation')

In [280]:
merged_current

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season,standardized_college,institution.displayName,institution.schoolType,ranking,ranking_numeric,ranking_int,team_standings,Team,Overall
0,Saddiq Bey,ATL,200.66,97.522280,13.8,4.7,1.5,-3.1,Villanova,USA,2022-23,Villanova University,Villanova University,national-universities,67,67,67,17,Atlanta Hawks,41-41
1,Tyrese Martin,ATL,198.12,97.522280,1.3,0.8,0.1,2.3,Connecticut,USA,2022-23,University of Connecticut,University of Connecticut,national-universities,58,58,58,17,Atlanta Hawks,41-41
2,Trent Forrest,ATL,193.04,95.254320,2.3,1.6,1.7,-10.1,Florida State,USA,2022-23,Florida State University,Florida State University,national-universities,53,53,53,17,Atlanta Hawks,41-41
3,Trae Young,ATL,185.42,74.389088,26.2,3.0,10.2,1.3,Oklahoma,USA,2022-23,University of Oklahoma,University of Oklahoma,national-universities,124,124,124,17,Atlanta Hawks,41-41
4,Donovan Williams,ATL,198.12,86.182480,2.0,1.0,0.0,60.0,UNLV,USA,2022-23,"University of Nevada, Las Vegas","University of Nevada, Las Vegas",national-universities,269,269,269,17,Atlanta Hawks,41-41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Jamaree Bouyea,WAS,187.96,81.646560,3.0,1.2,0.8,-13.2,San Francisco,USA,2022-23,University of San Francisco,University of San Francisco,national-universities,115,115,115,24,Washington Wizards,35-47
428,Jordan Goodwin,WAS,190.50,90.718400,6.6,3.3,2.7,-4.5,St. Louis,USA,2022-23,Saint Louis University,Saint Louis University,national-universities,105,105,105,24,Washington Wizards,35-47
429,Jordan Schakel,WAS,198.12,90.718400,1.5,0.0,0.5,50.0,San Diego State,USA,2022-23,San Diego State University,San Diego State University,national-universities,105,105,105,24,Washington Wizards,35-47
430,Johnny Davis,WAS,193.04,88.450440,5.8,2.3,1.0,-6.2,Wisconsin,USA,2022-23,University of Wisconsin--Madison,University of Wisconsin--Madison,national-universities,35,35,35,24,Washington Wizards,35-47
431,Jay Huff,WAS,215.90,108.862080,7.3,3.0,1.4,-1.1,Virginia,USA,2022-23,University of Virginia,University of Virginia,national-universities,24,24,24,24,Washington Wizards,35-47

In [281]:
current = merged_current[['player_name','college','ranking','Team','team_standings']]

In [282]:
current

,player_name,college,ranking,Team,team_standings
0,Saddiq Bey,Villanova,67,Atlanta Hawks,17
1,Tyrese Martin,Connecticut,58,Atlanta Hawks,17
2,Trent Forrest,Florida State,53,Atlanta Hawks,17
3,Trae Young,Oklahoma,124,Atlanta Hawks,17
4,Donovan Williams,UNLV,269,Atlanta Hawks,17
...,...,...,...,...,...
427,Jamaree Bouyea,San Francisco,115,Washington Wizards,24
428,Jordan Goodwin,St. Louis,105,Washington Wizards,24
429,Jordan Schakel,San Diego State,105,Washington Wizards,24
430,Johnny Davis,Wisconsin,35,Washington Wizards,24
431,Jay Huff,Virginia,24,Washington Wizards,24

In [283]:
current['college'].value_counts().head(15)

college
Kentucky           27
Duke               26
Arizona            14
Kansas             11
UCLA               11
North Carolina     11
Florida State      10
Texas              10
Virginia           10
Michigan            9
Oregon              9
Gonzaga             8
Louisiana State     8
Villanova           8
Washington          8
Name: count, dtype: int64

In [284]:
current_df

,player_name,team_abbreviation,player_height,player_weight,pts,reb,ast,net_rating,college,country,season
12305,Quentin Grimes,NYK,195.58,95.254320,11.3,3.2,2.1,4.4,Houston,USA,2022-23
12306,Quenton Jackson,WAS,195.58,78.471416,6.2,0.9,1.7,-6.7,Texas A&M,USA,2022-23
12307,Pat Connaughton,MIL,195.58,94.800728,7.6,4.6,1.3,3.4,Notre Dame,USA,2022-23
12308,RJ Barrett,NYK,198.12,97.068688,19.6,5.0,2.8,-1.2,Duke,Canada,2022-23
12309,Precious Achiuwa,TOR,203.20,102.058200,9.2,6.0,0.9,-1.6,Memphis,Nigeria,2022-23
...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,PHI,213.36,127.005760,33.1,10.2,4.2,8.8,Kansas,Cameroon,2022-23
12840,John Butler Jr.,POR,213.36,86.182480,2.4,0.9,0.6,-16.1,Florida State,USA,2022-23
12841,John Collins,ATL,205.74,102.511792,13.1,6.5,1.2,-0.2,Wake Forest,USA,2022-23
12842,Jericho Sims,NYK,208.28,113.398000,3.4,4.7,0.5,-6.7,Texas,USA,2022-23
12843,JaMychal Green,GSW,205.74,102.965384,6.4,3.6,0.9,-8.2,Alabama,USA,2022-23

In [295]:
current['ranking'] = current['ranking'].astype(int)
current['ranking'].dtype

/var/folders/2t/8x02vxpd0sdglqymlvynb49r0000gn/T/ipykernel_42363/758099082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current['ranking'] = current['ranking'].astype(int)

dtype('int64')

In [307]:
current.sort_values(by=['ranking'], ascending=True).head(30)

,player_name,college,ranking,Team,team_standings
75,Robin Lopez,Stanford,3,Cleveland Cavaliers,5
91,Dwight Powell,Stanford,3,Dallas Mavericks,21
201,Ziaire Williams,Stanford,3,Memphis Grizzlies,6
364,KZ Okpala,Stanford,3,Sacramento Kings,7
233,Brook Lopez,Stanford,3,Milwaukee Bucks,1
261,Brandon Ingram,Duke,7,New Orleans Pelicans,16
180,Mason Plumlee,Duke,7,Los Angeles Clippers,12
294,Paolo Banchero,Duke,7,Orlando Magic,25
273,Trevor Keels,Duke,7,New York Knicks,8
269,RJ Barrett,Duke,7,New York Knicks,8
257,Zion Williamson,Duke,7,New Orleans Pelicans,16
243,Wendell Moore Jr.,Duke,7,Minnesota Timberwolves,15
296,Wendell Carter Jr.,Duke,7,Orlando Magic,25
47,Jayson Tatum,Duke,7,Boston Celtics,2
231,Grayson Allen,Duke,7,Milwaukee Bucks,1
210,Luke Kennard,Duke,7,Memphis Grizzlies,6
199,Tyus Jones,Duke,7,Memphis Grizzlies,6
59,Mark Williams,Duke,7,Charlotte Hornets,27
245,Austin Rivers,Duke,7,Minnesota Timberwolves,15
22,Seth Curry,Duke,7,Brooklyn Nets,9
97,Kyrie Irving,Duke,7,Dallas Mavericks,21
344,Justise Winslow,Duke,7,Portland Trail Blazers,26
12,Jalen Johnson,Duke,7,Atlanta Hawks,17
410,Frank Jackson,Duke,7,Utah Jazz,22
341,Cam Reddish,Duke,7,Portland Trail Blazers,26
126,Marvin Bagley III,Duke,7,Detroit Pistons,30
405,Vernon Carey Jr.,Duke,7,Utah Jazz,22
113,Jack White,Duke,7,Denver Nuggets,4
394,Gary Trent Jr.,Duke,7,Toronto Raptors,18
8,AJ Griffin,Duke,7,Atlanta Hawks,17

In [305]:
top_25_df = current[current['ranking'] <= 25 ]

In [308]:
top_25_df['college'].value_counts()

college
Duke              26
UCLA              11
North Carolina    11
Virginia          10
Michigan           9
Vanderbilt         6
Stanford           5
Georgetown         3
Notre Dame         2
California         1
Name: count, dtype: int64

In [309]:
current['ranking'].mean()

101.72453703703704

In [310]:
merged_current.to_csv(f"merged_current_season.csv", index=True)

In [330]:
results

,Team,Mean Rank,Median Rank,Number of Players,Best College Player,Best Players College,Best Players Rank
14,ORL,50.571429,46.5,14,Paolo Banchero,Duke,7
10,BOS,68.529412,53.0,17,Jayson Tatum,Duke,7
5,DEN,69.538462,47.0,13,Jack White,Duke,7
2,MIL,73.454545,47.0,11,Brook Lopez,Stanford,3
4,BKN,78.058824,53.0,17,Seth Curry,Duke,7
18,UTA,79.571429,89.5,14,Vernon Carey Jr.,Duke,7
13,ATL,86.357143,50.0,14,AJ Griffin,Duke,7
28,MEM,88.714286,80.0,14,Ziaire Williams,Stanford,3
11,DAL,90.266667,98.0,15,Dwight Powell,Stanford,3
16,POR,90.625000,86.0,16,Cam Reddish,Duke,7
17,LAL,92.687500,78.0,16,Scotty Pippen Jr.,Vanderbilt,18
15,PHX,93.363636,60.0,11,Saben Lee,Vanderbilt,18
22,MIN,93.937500,50.0,16,Wendell Moore Jr.,Duke,7
21,CLE,95.250000,46.0,12,Robin Lopez,Stanford,3
23,NOP,96.692308,60.0,13,Zion Williamson,Duke,7
6,CHI,103.692308,53.0,13,Zach LaVine,UCLA,15
1,WAS,105.466667,105.0,15,Anthony Gill,Virginia,24
26,MIA,106.733333,73.0,15,Kevin Love,UCLA,15
27,OKC,113.000000,101.5,12,Tre Mann,Florida,28
24,IND,113.470588,115.0,17,Aaron Nesmith,Vanderbilt,18
8,LAC,114.066667,105.0,15,Mason Plumlee,Duke,7
29,HOU,115.000000,105.0,7,Frank Kaminsky,Wisconsin,35
12,SAC,116.555556,104.0,18,KZ Okpala,Stanford,3
20,DET,118.333333,105.0,15,Marvin Bagley III,Duke,7
7,PHI,119.500000,105.0,14,P.J. Tucker,Texas,32
25,CHA,121.714286,151.0,14,Mark Williams,Duke,7
0,NYK,129.428571,133.0,14,RJ Barrett,Duke,7
3,TOR,131.176471,105.0,17,Gary Trent Jr.,Duke,7
19,SAS,138.157895,124.0,19,Tre Jones,Duke,7
9,GSW,143.000000,146.5,14,Kevon Looney,UCLA,15

In [334]:
results.rename(columns={'Team': 'team_abbreviation'}, inplace=True)

In [335]:
results.head()

,team_abbreviation,Mean Rank,Median Rank,Number of Players,Best College Player,Best Players College,Best Players Rank
14,ORL,50.571429,46.5,14,Paolo Banchero,Duke,7
10,BOS,68.529412,53.0,17,Jayson Tatum,Duke,7
5,DEN,69.538462,47.0,13,Jack White,Duke,7
2,MIL,73.454545,47.0,11,Brook Lopez,Stanford,3
4,BKN,78.058824,53.0,17,Seth Curry,Duke,7

In [336]:
analysis_ranks = pd.merge(results, team_ranks, how='outer', on='team_abbreviation')

In [339]:
analysis_ranks.to_csv('current_season_analysis_ranks.csv')